Lib/*
include/*
Scripts/*
*.xml
*.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.iml
*.xml
*.xml
.idea/CS work.iml
share/
.idea/workspace.xml
python-challenges/
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
